{% extends "base.html" %}
{% load static %}



{% block content %}

    <div class="container">
        <div class="row" >
            <div class="col-md-4 offset-1" >
                <h3><a style="color: #F9C000" href="https://github.com/ZohanHo/abz.agency.git">GitHub code</a></h3>
           </div>
        </div>
    </div>
    <br>


    <div class="container">
        <div  class="row">
            <div class="col-md-8 offset-1" >
                <img style="border: solid grey 1px; width: 120%" src="{% static "images/task/1.jpg" %}" alt="">
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-1" >
                <img style="border: solid grey 1px; width: 120%" src="{% static "images/task/2.jpg" %}" alt="">
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-1" >
                <img style="border: solid grey 1px; width: 120%" src="{% static "images/task/3.jpg" %}" alt="">
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-1" >
                <img style="border: solid grey 1px; width: 120%" src="{% static "images/task/4.jpg" %}" alt="">
            </div>
        </div>
    </div>
    <br><br>

{% endblock %}
