{% extends "base.html" %}
{% load static %}


{% block base %}


            <div class="container" style="border: solid grey 1px; padding: 10px; background-color: blanchedalmond">
                <div class="row">


                    <div class="col-md-8 offset-2" id="div_tr{{ foo.id }}" style="">
                        <table style=" width: 100%; background-color:#FDDCA2;">
                            <tr  align="center" valign="center">
                                <td style="border: solid 1px grey; padding: 10px; font-size: 12px; font-weight: 800; height: 50px; width: 200px">
                                    <a href="">ФИО</a></td>
                                <td style="border: solid 1px grey; padding: 10px; font-size: 12px; font-weight: 800; height: 50px; width: 200px">
                                    <a href="">Должность</a></td>
                                <td style="border: solid 1px grey; padding: 10px; font-size: 12px; font-weight: 800; height: 50px; width: 300px">
                                    <a href="">Дата приема на работу</a></td>
                            </tr>
                        </table>
                        <button style="position: absolute; left: -155px; top: 10px; font-size: 12px" class="btn btn-primary">Добавить сотрудника</button>
                        <div style="position: absolute; right: -175px; top: 10px;">
                            <form action="" method="get" class="form-inline" style="">
                                <input class="form-control" name="search" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-info" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <br>



        {% for foo in employee %}
            <div class="container" style="border: solid grey 1px; padding: 20px; background-color: blanchedalmond; border-radius: 8px">
                <div class="row">
                    <div class="col-md-2" id="div_image{{ foo.id }}" style="">
                        <img style="border: solid grey 1px" width=100px" src="{{ foo.foto_employee.url }}" alt="">
                    </div>

                    <div class="col-md-8" id="div_tr{{ foo.id }}" style="top: 20px">
                        <table style=" width: 100%; border:0; background-color:#faebd7;">
                            <tr  align="left" valign="center">
                                <td style="border: solid 1px grey; padding: 10px; font-size: 12px; font-weight: 800; height: 50px; width: 200px">ФИО: {{ foo.name }} </td>
                                <td style="border: solid 1px grey; padding: 10px; font-size: 12px; font-weight: 800; height: 50px; width: 200px">Должность: {{ foo.employee_position }}</td>
                                <td style="border: solid 1px grey; padding: 10px; font-size: 12px; font-weight: 800; height: 50px; width: 300px">Дата приема на работу: {{ foo.date }}</td>
                                <button style="position: absolute; left: 750px; top: 15px; font-size: 12px" class="btn btn-danger">Удалить</button>
                                <button style="position: absolute; left: 820px; top: 15px; font-size: 12px" class="btn btn-warning">Редактировать</button>
                            </tr>

                        </table>

                    </div>

                </div>
            </div>
            <br>

        {% endfor %}

{% endblock %}